.App {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4vw;
  text-align: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
